@mixin container {
  box-sizing: border-box;
  padding: 0 10vw;
}

@mixin containerMobile {
  @include container;
  padding: 0;
}

@mixin centerGrid {
  display: grid;
  justify-content: center;
  align-content: center;
}

@mixin contentContainer {
  //background-color: grey;
  min-height: 100vh;
}

@mixin contentContainerMobile {
  @include contentContainer;
  box-sizing: border-box;
  //background-color: darkblue;
}

@mixin headings {
  position: absolute;
  font-size: 13vh;
  bottom: 0;
  left: 0;
  transform-origin: 0 0;
  transform: translate(0,50%) rotate(-90deg);
  color: #00000010;
}

@mixin headingsMobile {
  font-size: 7vh;
  //background-color: red;
}


