@import "mixins/container";

.about {
  position: relative;
  @include container;

  .heading {
    @include headings;
  }

  .details {
    //background-color: deeppink;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 10%;

    .image {
      border-radius: 50%;
      transition: .3s all;
      height: 300px;
      width: 300px;

      &:hover {
        border-radius: 20%;
      }
    }

    h2 {
      font-size: 5rem;
      font-family: 'Sacramento', cursive;
    }

    p {
        font-size: 2rem;
        //background-color: deeppink;
        width: 100%;
        line-height: 1.4;

      .name {
        color: #1f4287;
        font-size: 4rem;
        font-weight: bold;
        font-family: 'Sacramento', cursive;
        text-decoration-line: blink;
      }
    }
  }
}


@media only screen and (max-width: 1025px) {
  .about {
    .heading {
      @include headingsMobile;
    }

    .details {
      width: 100%;
      //background-color: palevioletred;
      margin: 0;
      flex-direction: column-reverse;

      .image {
        height: 400px;
        width: 400px;
      }

      p {
        margin-top: 50px;
        //background-color: palevioletred;
        width: 70%;
      }
    }
  }
}


@media only screen and (max-width: 480px) {
  .about {
    @include containerMobile;

    .details {
      .image {
        height: 200px;
        width: 200px;
      }

      p {
        margin-top: 20px;
      }
    }
  }
}
