@import "mixins/container";

.education {
  position: relative;
  @include container;

  .heading {
    @include headings;
  }


  .educationList {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    //background-color: palevioletred;

    .place {
      width:60%;

      h1 {
        font-size: 3rem;
        margin: 5px 0;
      }

      h3 {
        font-size: 2.5rem;
        margin: 5px 0;
      }

      span {
        font-size: 1.5rem;
        margin-left: 5px;
      }

      p {
        font-size: 2rem;
        margin: 5px 0;
      }

      .marks {
        font-size: 1.5rem;
      }
    }

  }
}

@media only screen and (max-width: 1025px) {
  .education {
    .heading {
      @include headingsMobile;
    }
  }
}


@media only screen and (max-width: 480px) {
  .education {
    @include containerMobile;
  }

  .educationList {
    margin-left: 10vw;
  }
}
