@import "mixins/container";

.experience {
  position: relative;
  @include container;

  .heading {
    @include headings;
  }

  .experienceList {
    //background-color: palevioletred;
    height: 100vh;
    //margin-left: 15vw;
    //padding: 10vh 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;

    .place {


      h1 {
        font-size: 3rem;
        margin: 5px 0;
      }

      h3 {
        font-size: 2.5rem;
        margin: 5px 0;
      }

      p {
        font-size: 2rem;
        margin: 5px 0;
      }


      ul {
        margin-top: 10px;

        li {
          margin: 5px 0;
          font-size: 1.5rem;
        }
      }
    }
  }
}


@media only screen and (max-width: 1025px) {
  .experience {
    .heading {
      @include headingsMobile;
    }

    .experienceList {
      grid-template-columns: auto;
      //background-color: palevioletred;
    }
  }
}


@media only screen and (max-width: 480px) {
  .experience {
    @include containerMobile;
  }

  .experienceList {
    margin-left: 10vw;
  }
}

