//font-family: 'Lato', sans-serif;
//font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');

//font-family: 'Sacramento', cursive;
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5, h6, p, li, span {
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//html,
//body {
//  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
//  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
//}

html {
  font-size: 10px;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  min-height: 100vh;
  min-width: 100vw;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 5px;
  }
}


