@import "mixins/container";

.container {
  @include container;
  @include centerGrid;
  text-align: center;

  h1 {
    font-size: 10rem;
    font-family: 'Sacramento', cursive;
    position: sticky;
  }

  h2 {
    font-size: 5rem;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;

    img {
      transition: filter .3s ease-in-out;
    }
  }
}

@media only screen and (max-width: 480px) {

  .container {
    @include containerMobile;
    img {
      height: 30px;
      width: 30px;
    }

  }
}