@import "mixins/container";

.projects {
  position: relative;
  @include container;

  .heading {
    @include headings;
  }

  .projectList {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;

    .project {
      width: 30vw;
      //background-color: deeppink;

      h1 {
        font-size: 3rem;
        margin: 5px 0;
      }

      .tags {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;

        span {
          border: 1px dotted grey;
          font-size: 1.2rem;
          padding: 5px;
          margin: 10px 10px 0 0;
          border-radius: 15px;
        }
      }

      p {
        font-size: 2rem;
        margin: 5px 0;
      }

      .links {

        display: flex;
        justify-content: space-between;
        width: 80px;
        //background-color: blue;

        .eachIcon {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          transition: .6s all;

          &:hover {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
          }
        }

      }

      p {
        font-size: 1.5rem;
        margin: 10px 0 10px 0;
      }

    }
  }
}

@media only screen and (max-width: 1025px) {
  .projects {
    .heading {
      @include headingsMobile;
    }

    .projectList {
      grid-template-columns: auto;
      justify-content: center;
      align-items: center;
      //background-color: deeppink;
    }
  }
}


@media only screen and (max-width: 480px) {
  .projects {
    @include containerMobile;

    .projectList {
      .project {
        width: 60vw;
        //background-color: deeppink;

        //.links {
        //  .eachIcon {
        //    height: 10px !important;
        //    width: 10px;
        //  }
        //}

        .tags {
          margin: 10px 0;
          display: flex;
          flex-wrap: wrap;
          span {
            border: 1px dotted grey;
            font-size: 1.2rem;
            padding: 3px;
            margin: 3px 3px 0 0;
            border-radius: 15px;
          }
        }
      }

    }
  }
}
