@import "mixins/container";

.technologies {
  position: relative;
  @include container;

  .heading {
    @include headings;
  }

  .technologyList {
    @include contentContainer;
    display: grid;
    padding: 0 10vw;
    grid-template-columns: auto auto auto auto auto auto;
    grid-row-gap: 10rem;
    align-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      .image {
        //filter: grayscale(100%);
        transition: filter .3s ease-in-out;

        height: 75px;
        width: 75px;

        &:hover {
          filter: grayscale(0%);
        }
      }

      p {
        text-align: center;
        font-size: 1.5rem;
        margin: 10px;
      }

    }
  }
}

@media only screen and (max-width: 1025px) {
  .technologies {
    .heading {
      @include headingsMobile;
    }
  }
}


@media only screen and (max-width: 480px) {
  .technologies {
    @include containerMobile;

    .technologyList {
      @include contentContainerMobile;
      grid-template-columns: auto auto auto;
      //background-color: palevioletred;
      grid-row-gap: 5vh;
      grid-column-gap: 10vw;
      justify-content: center;
      padding:0 20px;

      div {
        .image {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
